<div class="flex flex-col flex-auto md:w-160 md:min-w-160">
    <form [formGroup]="passwordForm" autocomplete="off">
        <div class="m-4">
            <div>
                <div class="text-center mb-4 py-0.5 px-3 rounded-full text-2xl font-medium text-black-600">
                    Change your password
                </div>
                <mat-form-field  class="w-full" [floatLabel]="'always'">
                    <mat-label>Current password</mat-label>
                    <input type="password" matInput [placeholder]="'Current Password'" [formControlName]="'old_password'">
                </mat-form-field>
                <mat-error *ngIf="submitted && passwordForm.get('old_password').hasError('required')">
                    Current Password is required.
                </mat-error>
                <mat-error *ngIf="submitted && passwordForm.get('old_password').hasError('pattern')">
                    8 chars with uppercase, lowercase and special characters
                </mat-error>
                
                <mat-form-field  class="w-full" [floatLabel]="'always'">
                    <mat-label>New password</mat-label>
                    <input type="password" matInput [placeholder]="'New Password'" [formControlName]="'new_password'">
                </mat-form-field>
                <mat-error *ngIf="submitted && passwordForm.get('new_password').hasError('required')">
                    New Password is required.
                </mat-error>
                <mat-error *ngIf="submitted && passwordForm.get('new_password').hasError('pattern')">
                    8 chars with uppercase, lowercase and special characters
                </mat-error>
                
                <mat-form-field  class="w-full" [floatLabel]="'always'">
                    <mat-label>Confirm password</mat-label>
                    <input type="password" matInput [placeholder]="'New Password'" [formControlName]="'new_password_confirmation'">
                </mat-form-field>
                <mat-error *ngIf="submitted && passwordForm.get('new_password_confirmation').hasError('required')">
                    Confirm Password is required.
                </mat-error>
                <mat-error *ngIf="passwordForm.get('new_password_confirmation').hasError('pattern')">
                    8 chars with uppercase, lowercase and special characters
                </mat-error>
            </div>
        </div>
        <div class="flex items-center justify-end mt-4">
            <button mat-flat-button matDialogClose class="mr-2">
                Cancel
            </button>
            <button mat-flat-button [color]="'primary'" (click)="proceed();">
                Proceed
            </button>
        </div>
    </form>
</div>