<div class="flex flex-col w-full h-full">
    <section class="relative bg-white">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mb-4 text-4xl font-bold">Privacy Policy</h3>
                    <hr class="mt-0">
                    <div class="blog-post prose prose-sm" style="max-width: fit-content;">
                        <p class="text-2xl font-bold">Bookmyinfluencers has an ecosystem of influencers who can
                            connect
                            with brands and
                            entrepreneurs in numerous dodivs viz. fashion, retail, consumer electronics, food.</p>
                        <p class="text-2xl font-bold">To divtain specific standards, we collect private details
                            from the
                            influencers.
                            Though we divtain their privacy, and we have mentioned every detail in below. Kindly read
                            this
                            document carefully.</p>
                        <hr>
                        <h5 class="font-semibold text-3xl">1. To Whom does this privacy policy apply?</h5>
                        <p class="text-lg">This privacy policy is only applicable to you if you are a part of the
                            influencer network. In
                            simpler terms, if you are involved in our digital marketing campaigns, which are launched
                            and
                            managed by us, then this privacy policy applies to you. Nevertheless, the policy applies to
                            you if
                            you are an influencer, and we are curious to work with you, or you find our platform
                            engaging and
                            are interested in working with us.</p>
                        <h5 class="font-semibold text-3xl">2. Who controls the data?</h5>
                        <p class="text-lg">Bookmyinfluencers manage and store all your data within our rights
                            provided by the laws in
                            the
                            country.</p>
                        <h5 class="font-semibold text-3xl">3. Is Personal data collected?</h5>
                        <p class="text-lg">Bookmyinfluencers can collect the following private data from the
                            influencers if they agree
                            to our
                            terms and conditions.</p>
                        <ul class="text-lg">
                            <li>Private data of former and potential influencers that include name, public profile
                                photo,
                                addresses, account names social media stats number of followers, number. of likes,
                                shares,
                                public images, and videos available on different platforms).</li>
                            <li>Private data on third-party websites.</li>
                            <li>Personal data shared by the managers and agents of influencers (if available).</li>
                        </ul>
                        <h5 class="font-semibold text-3xl">4. What’s the goal of data collection?</h5>
                        <p class="text-lg">Bookmyinfluencers collects the private data of influencers:</p>
                        <ul class="text-lg">
                            <li>To manage the system of potential influencers.</li>
                            <li>To find suitable projects for various influencers based on their requirements and the
                                content
                                they produce.</li>
                            <li>To improve our assistance with better targeting and analysis of the market.</li>
                            <li>To comply with laws and regulations.</li>
                            <li>To monitor the execution of influencers in our eco-system.</li>
                            <li>To manage contracts and to make propositions for our clients.</li>
                        </ul>
                        <p class="text-2xl font-bold">Note – We use your private data solely for these purposes that we
                            have shared
                            above.</p>
                        <h5 class="font-semibold text-3xl">5. How long is the data kept with BookmyInfluencers.com?</h5>
                        <p class="text-lg">Bookmyinfluencers keeps the data only until it is in use. We remove the
                            data from our system
                            once
                            It has served its purpose. Though, the company has the right to keep the data for up to a
                            year if
                            the relationship with an influencer is over.</p>
                        <h5 class="font-semibold text-3xl">6. Who has access to the personal data?</h5>
                        <p class="text-lg">Any working personal either as a full-time or on a contractual basis has
                            the right to access
                            the
                            private data of the influencers when required. The company can also share private data with
                            third-party companies if required. Though, the company takes the privacy of data seriously
                            and uses
                            all the precautions.</p>
                        <p class="text-lg">Bookmyinfluencers can also share the private data of the influencers
                            with partner brands and
                            customers for marketing and business purposes.</p>
                        <h5 class="font-semibold text-3xl">7. How is the private data secured from attacks?</h5>
                        <p class="text-lg">Bookmyinfluencers takes severe measures to make sure that the private
                            data of influencers is
                            secure
                            under any condition. The company uses the latest standard equipment and methods to secure
                            the data.
                            The employees are also bound by rules and procedures, so a chance of any human error is also
                            minimal. Additionally, agreements are signed with third-party entities.</p>
                        <h5 class="font-semibold text-3xl">8. What Rights do the influencers have?</h5>
                        <p class="text-lg">You have the following writes:</p>
                        <ul class="text-lg">
                            <li>At any point, you can inspect your private data that is stored in our system.</li>
                            <li>Any data that you will is inappropriate; you can ask us to correct or delete that data.
                            </li>
                            <li>If any of the protocol violates your terms, you can complain about any protocol.</li>
                        </ul>
                        <hr>
                        <h2 class="font-bold text-4xl">Who we are?</h2>
                        <h5 class="font-semibold text-3xl">Our website address is: <a
                                href="/">https://bookmyinfluencers.com.</a></h5>
                        <hr>
                        <h3 class="font-bold text-4xl">What personal data we collect and why we collect it</h3>
                        <h5 class="font-semibold text-3xl">Comments</h5>
                        <p class="text-lg">When visitors leave comments on the site we collect the data shown in
                            the comments form, and
                            also
                            the visitor’s IP address and browser user agent string to help spam detection.</p>
                        <p class="text-lg">An anonymized string created from your email address (also called a
                            hash) may be provided to
                            the
                            Gravatar service to see if you are using it. The Gravatar service privacy policy is
                            available here:
                            https://automattic.com/privacy/. After approval of your comment, your profile picture is
                            visible to
                            the public in the context of your comment.</p>
                        <hr>
                        <h5 class="font-semibold text-3xl">Media</h5>
                        <p class="text-lg">If you upload images to the website, you should avoid uploading images
                            with embedded location
                            data
                            (EXIF GPS) included. Visitors to the website can download and extract any location data from
                            images
                            on the website.</p>
                        <hr>
                        <h5 class="font-semibold text-3xl">Cookies</h5>
                        <p class="text-lg">If you leave a comment on our site you may opt-in to saving your name,
                            email address and
                            website in
                            cookies. These are for your convenience so that you do not have to fill in your details
                            again when
                            you leave another comment. These cookies will last for one year.</p>
                        <p class="text-lg">If you visit our login page, we will set a temporary cookie to determine
                            if your browser
                            accepts
                            cookies. This cookie contains no personal data and is discarded when you close your browser.
                        </p>
                        <p class="text-lg">When you log in, we will also set up several cookies to save your login
                            information and your
                            screen
                            display choices. Login cookies last for two days, and screen options cookies last for a
                            year. If
                            you select “Remember Me”, your login will persist for two weeks. If you log out of your
                            account,
                            the login cookies will be removed.</p>
                        <p class="text-lg">If you edit or publish an div, an additional cookie will be saved in
                            your browser. This
                            cookie
                            includes no personal data and simply indicates the post ID of the div you just edited. It
                            expires
                            after 1 day.</p>
                        <hr>
                        <h5 class="font-semibold text-3xl">Embedded content from other websites</h5>
                        <p class="text-lg">divs on this site may include embedded content (e.g. videos, images,
                            divs, etc.). Embedded
                            content
                            from other websites behaves in the exact same way as if the visitor has visited the other
                            website.
                        </p>
                        <p class="text-lg">These websites may collect data about you, use cookies, embed additional
                            third-party
                            tracking, and
                            monitor your interaction with that embedded content, including tracking your interaction
                            with the
                            embedded content if you have an account and are logged in to that website.</p>
                        <hr>
                        <h5 class="font-semibold text-3xl">Analytics</h5>
                        <h6 class="font-semibold text-xl">Who we share your data with</h6>
                        <h6 class="font-semibold text-xl">How long we retain your data</h6>
                        <p class="text-lg">If you leave a comment, the comment and its metadata are retained
                            indefinitely. This is so we
                            can
                            recognize and approve any follow-up comments automatically instead of holding them in a
                            moderation
                            queue.</p>
                        <p class="text-lg">For users that register on our website (if any), we also store the
                            personal information they
                            provide in their user profile. All users can see, edit, or delete their personal information
                            at any
                            time (except they cannot change their username). Website administrators can also see and
                            edit that
                            information.</p>
                        <hr>
                        <h5 class="font-semibold text-3xl">What rights you have over your data</h5>
                        <p class="text-lg">If you have an account on this site, or have left comments, you can
                            request to receive an
                            exported
                            file of the personal data we hold about you, including any data you have provided to us. You
                            can
                            also request that we erase any personal data we hold about you. This does not include any
                            data we
                            are obliged to keep for administrative, legal, or security purposes.</p>
                        <hr>
                        <h5 class="font-semibold text-3xl">Where we send your data</h5>
                        <p class="text-lg">Visitor comments may be checked through an automated spam detection
                            service.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>