mat-dialog-container {
    width: 818px!important;
    height: 500px !important;
    overflow-y: scroll;
}

.viewdetailspage{
    width:800px!important;
    height: 500px!important;
    overflow-y: scroll;
}