<div class="flex flex-col w-full h-full">
    <section class="relative bg-white">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mb-4 text-4xl font-bold">Terms of Use</h3>
                    <hr class="mt-0">
                    <div class="blog-post prose prose-sm" style="max-width: fit-content;">
                        <h5 class="font-semibold text-2xl">TERMS OF SERVICE</h5>
                        <p class="text-lg">This is a legal agreement between you, the potential user of this website
                            (“you”) and
                            BookMyInfluencers (“Us” “BookMyInfluencers”). Your use of BookMyInfluencers products,
                            services and
                            web sites or any of the products and services offered on this site (collectively, the
                            “Services”)
                            is conditioned on your acceptance without modification of these Terms of Service (“Terms”).
                        </p>
                        <p class="text-lg">Please read these Terms carefully. If you do not agree to these Terms, you
                            should not use the
                            Services. You can accept the Terms simply by using the BookMyInfluencers Services. In this
                            case,
                            you understand and agree that BookMyInfluencers will consider your use of the Services as
                            agreement
                            to the Terms.</p>
                        <p class="text-lg">BookMyInfluencers may at its sole discretion modify these Terms at any time
                            and such modifications
                            will be effective immediately upon being posted on this Site.</p>
                        <p class="text-lg">Your use of BookMyInfluencers website www.BookMyInfluencers.com (hereinafter
                            referred to as
                            “BookMyInfluencers”) and services and tools are governed by the following terms and
                            conditions as
                            applicable to the BookMyInfluencers. If you transact on BookMyInfluencers, you shall be
                            subject to
                            the policies that are applicable to the website for such a transaction. For the purpose of
                            these
                            terms of use, wherever the context so require “You” shall mean any natural or legal person
                            who has
                            agreed to become a member of the Website by providing Registration Data while registering on
                            the
                            Website as Registered User using the computer systems of the BookMyInfluencers.</p>
                        <p class="text-lg">We as a merchant shall be under no liability whatsoever in respect of any
                            loss or damage arising
                            directly or indirectly out of the decline of authorization for any Transaction, on Account
                            of the
                            Cardholder having exceeded the present limit mutually agreed by us with our acquiring bank
                            from
                            time to time</p>
                        <p class="text-lg">When you use any of the services provided by BookMyInfluencers, including but
                            not limited to,
                            (e.g., Customer Reviews), you will be subject to the rules, guidelines, policies, terms, and
                            conditions applicable to such service, and they shall be deemed to be incorporated into this
                            Terms
                            of Use and shall be considered as part and parcel of this Terms of Use. BookMyInfluencers
                            reserves
                            the right, at its sole discretion, to change, modify, add or remove portions of these Terms
                            of Use,
                            at any time. It is your responsibility to check these Terms of Use periodically for changes.
                            Your
                            continued use of the Site following the posting of changes will mean that you accept and
                            agree to
                            the changes. As long as you comply with these Terms of Use, BookMyInfluencers grants you a
                            personal, non-exclusive, non-transferable, limited privilege to enter and use the Site.</p>
                        <p class="text-lg">ACCESSING, BROWSING OR OTHERWISE USING THE SITE INDICATES YOUR AGREEMENT TO
                            ALL THE TERMS AND
                            CONDITIONS IN THIS AGREEMENT, SO PLEASE READ THIS AGREEMENT CAREFULLY BEFORE PROCEEDING.</p>
                        <h5 class="font-semibold text-2xl">Your Account and Registration Obligations</h5>
                        <p class="text-lg">If you use BookMyInfluencers, you shall be responsible for maintaining the
                            confidentiality of your
                            User ID and Password and you shall be responsible for all activities that occur under your
                            User ID
                            and Password. You agree that if you provide any information that is untrue, inaccurate, not
                            current
                            or incomplete or BookMyInfluencers has reasonable grounds to suspect that such information
                            is
                            untrue, inaccurate, not current or incomplete, or not in accordance with the this Terms of
                            Use,
                            BookMyInfluencers has the right to indefinitely suspend or terminate or block access of your
                            membership with BookMyInfluencers and refuse to provide you with access to the Website</p>
                        <p class="text-lg">BookMyInfluencers provides a facility to deactivate your account based on
                            Approval. Till your
                            account is deactivated we will not display or use your profile or any data to anyone.
                            Account can
                            be again activated by login with the same credentials.</p>
                        <h5 class="font-semibold text-2xl">Communications</h5>
                        <p class="text-lg">When You use the Website or send emails or other data, information or
                            communication to
                            BookMyInfluencers, You agree and understand that You are communicating with
                            BookMyInfluencers
                            through electronic records and You consent to receive communications via electronic records
                            from
                            BookMyInfluencers periodically and as and when required. BookMyInfluencers may communicate
                            with You
                            by email or by such other modes of communication, electronic or otherwise.</p>
                        <h5 class="font-semibold text-2xl">Charges</h5>
                        <p class="text-lg">Registration on BookMyInfluencers is free. BookMyInfluencers does not charge
                            any fee for
                            browsing
                            but there are applicable charges for getting deals through BookMyInfluencers. In addition,
                            BookMyInfluencers reserves the right to charge fee and change its policies from time to
                            time. In
                            particular, BookMyInfluencers may at its sole discretion introduce new services and modify
                            some or
                            all of the existing services offered on BookMyInfluencers. In such an event
                            BookMyInfluencers
                            reserves, without notice to You, the right to introduce fees for the new services offered or
                            amend/introduce fees for existing services, as the case may be. Changes to the Fee and
                            related
                            policies shall automatically become effective immediately once implemented on
                            BookMyInfluencers.
                            Unless otherwise stated, all fees shall be quoted in Indian Rupees. You shall be solely
                            responsible
                            for compliance of all applicable laws including those in India for making payments to
                            BookMyInfluencers.</p>
                        <h5 class="font-semibold text-2xl">Use of BookMyInfluencers Services</h5>
                        <p class="text-lg">You agree, undertake and confirm that your use of BookMyInfluencers shall be
                            strictly
                            governed by
                            the following binding principles:</p>
                        <p class="text-lg">You shall not host, display, upload, modify, publish, transmit, and update
                            any information:
                        </p>
                        <ul class="text-lg">
                            <li>That belongs to another person and to which you do not have any right to</li>
                            <li>Is misleading in any way</li>
                            <li>Is patently offensive to the online community, such as sexually explicit content, or
                                content
                                that promotes obscenity, pedophilia, racism, bigotry, hatred or physical harm of any
                                kind
                                against any group or individual.</li>
                            <li>Involves the transmission of “junk mail, “chain letters,” or unsolicited mass mailing or
                                “spamming”.</li>
                            <li>That promotes illegal activities or conduct that is abusive, threatening, obscene,
                                defamatory
                                or libelous.</li>
                            <li>That infringes upon or violates any third party’s rights including, but not limited to,
                                intellectual property rights, rights of privacy (including without limitation
                                unauthorized
                                disclosure of a person’s name, email address, physical address or phone number) or
                                rights of
                                publicity.</li>
                        </ul>
                        <h5 class="font-semibold text-2xl">License to Your Content</h5>
                        <p class="text-lg">BookMyInfluencers allows you to post content, including videos, photos,
                            comments, and other
                            materials. Anything that you post or otherwise make available on the Services is referred to
                            as
                            “User Content.” You retain all rights in, and are solely responsible for, the User Content
                            you post
                            to the Services. However, by submitting User Content to the Services, you hereby grant
                            BookMyInfluencers a worldwide, non-exclusive, paid up and royalty-free, sub-licensable and
                            transferable license to use, reproduce, distribute, prepare derivative works of, display,
                            and
                            perform the User Content in connection with the Services and BookMyInfluencers (and its
                            successors’
                            and affiliates’) business, including without limitation for promoting and redistributing
                            part or
                            all of the Services (and derivative works thereof) in any media formats and through any
                            media
                            channels.</p>
                        <p class="text-lg">You also hereby grant each user of the Services a non-exclusive license to
                            access your User
                            Content
                            through the Services, and to use, reproduce, distribute, display, and perform such Content
                            as
                            permitted through the functionality of the Services and under these Terms. You retain the
                            right to
                            allow or disable the ability for others to download your User Content. You understand that
                            BookMyInfluencers does not guarantee any confidentiality with respect to any User Content
                            you
                            submit to us.</p>
                        <p class="text-lg">You shall be solely responsible for your own User Content and the
                            consequences of submitting
                            and
                            publishing your User Content on the Services. You affirm, represent, and warrant that you
                            own or
                            have the necessary rights, licenses, permissions, and consents necessary to publish any User
                            Content you submit. You further agree that all User Content you submit to the Services will
                            not
                            contain third party copyrighted material, or material that is subject to other third party
                            proprietary or other rights, unless you have permission from the rightful owner of the
                            material, or
                            you are otherwise legally entitled to post the material and to grant BookMyInfluencers all
                            of the
                            rights granted herein.</p>
                        <p class="text-lg">Following termination or deactivation of your account, or if you remove any
                            User Content from
                            the
                            Services, the licenses you have granted herein shall expire within a commercially reasonable
                            period
                            of time. However, we may retain your User Content for backup, archival, or audit purposes
                            indefinitely.</p>
                        <h5 class="font-semibold text-2xl">Payment Terms</h5>
                        <p class="text-lg">Payments shall be made as soon as your campaign goes live and is approved by
                            the advertiser.
                            As a
                            creator you shall ensure you adhere to all terms and conditions and guidelines stated on
                            respective
                            platforms/mediums.</p>
                        <p class="text-lg">Your final payment will bear taxes as applicable and a platform fee.</p>
                        <p class="text-lg">When an influencer or creator shares a post on
                            Facebook/Twitter/YouTube/Instagram the post
                            must be
                            Public(so that it is visible to all) and should be visible for the next 30 days. Also no
                            other post
                            should be done for the next 24 hours to increase the reach of the post.</p>
                        <h5 class="font-semibold text-2xl">Affiliate Program—– Needs Updation!!</h5>
                        <p class="text-lg">You earn Rs.100 as ad credit for every referral that signs up on
                            BookMyInfluencers and
                            connects
                            his/her social account.</p>
                        <h6>Referral must fall under any of the criteria below:</h6>
                        <ul class="text-lg">
                            <li>Admin of any Facebook Page with 5K Followers or more</li>
                            <li>More than 1K YouTube Subscribers</li>
                            <li>More than 1K followers on Instagram</li>
                            <li>More than 1K Followers on Twitter</li>
                        </ul>
                        <p class="text-lg">Special Goodies for Top Earners and Referrals: Get more than 25 friends to
                            sign up with the
                            above
                            mentioned criteria and earn exciting goodies.</p>
                        <h5 class="font-semibold text-2xl">License to Your Content</h5>
                        <p class="text-lg">We can use your images provided on BookMyInfluencers or social accounts for
                            promotional/marketing
                            activity of BookMyInfluencers.</p>
                        <h5 class="font-semibold text-2xl">NON-DISCLOSURE AGREEMENT</h5>
                        <p class="text-lg">This Non-Disclosure Agreement is made on Signup with BookMyInfluencers.</p>
                        <p class="text-lg">By and between</p>
                        <p class="text-lg"><strong>Influencer or creator</strong>,may be individual/firm/limited company
                            incorporated
                            under
                            the Companies Act, with its registered office. (Hereinafter referred to as “Influencer”
                            which
                            expression shall, unless it be repugnant to the context or meaning thereof, be deemed to
                            mean and
                            include their respective successors and permitted assignments and affiliates).</p>
                        <p class="text-lg">And</p>
                        <p class="text-lg"><strong>Accunite Solutions PVT LTD</strong> a company incorporated under the
                            Companies Act,
                            2013
                            with its place of business registered as 38B,CB,BLOCK,DDA JANTA FLATS,HARI NAGAR, NEW DELHI
                            West
                            Delhi DL 110064 IN and Address other than R/o where all or any books of account and papers
                            are
                            maintained at 115, Tower 1, Assotech Business Cresterra, Sector 135, Noida, Uttar Pradesh
                            201301
                            (hereinafter referred to as “the Company” which expression shall, unless it be repugnant to
                            the
                            context or meaning thereof, be deemed to mean and include their respective successors and
                            permitted
                            assigns and affiliates).</p>
                        <p class="text-lg">INFLUENCER and the Company may be individually referred to as a “Party” or
                            collectively as
                            the
                            “Parties”).</p>
                        <p class="text-lg"><strong>Recitals:</strong></p>
                        <p class="text-lg"><strong>WHEREAS</strong>, the Company and INFLUENCER are engaged in
                            discussions regarding a
                            potential business relationship (the “Transaction”); and</p>
                        <p class="text-lg"><strong>WHEREAS</strong>, a Party may request from the other (in such case,
                            the “Recipient”)
                            and/or
                            disclose to the other (in such case, the “Disclosing Party”) certain business, financial,
                            technical, and other Confidential Information (as defined below) concerning their respective
                            businesses and affairs that is not available to the public.</p>
                        <p class="text-lg"><strong>NOW THEREFORE</strong>, in consideration of the above premises the
                            Parties mutually
                            agree
                            as follows:</p>
                        <p class="text-lg"><strong>DEFINITION</strong>: “Confidential Information” shall mean any and
                            all information
                            disclosed to, or otherwise acquired or observed by, a Party including its affiliated
                            companies,
                            directors, officers and employees (collectively, “Recipient’s Representatives”), from the
                            Disclosing Party, its affiliated companies, directors, officers and employees relating to
                            the
                            business of the Disclosing Party, whether communicated in writing, orally, electronically,
                            photographically, or in recorded or any other form, including, but not limited to, all sales
                            and
                            operating information, existing and potential business and marketing plans and strategies,
                            financial information, cost and pricing information, data media, know-how, designs,
                            drawings,
                            specifications, source codes, technical information, concepts, reports, methods, processes,
                            techniques, operations, devices, and the like, whether or not the foregoing information is
                            patented, tested, reduced to practice, or subject to copyright. The term “Confidential
                            Information”
                            does not include information which</p>
                        <ol class="text-lg">
                            <li>Becomes generally available to the public other than as a result of disclosure by
                                Recipient in
                                breach of this Agreement;</li>
                            <li>Was available to Recipient on a non-confidential basis as shown in written records prior
                                to its
                                disclosure to Recipient by Disclosing Party;</li>
                            <li>Becomes available to Recipient on a non-confidential basis from a source other than
                                Disclosing
                                Party; provided that such source is not bound by a Non Disclosure agreement with
                                Disclosing
                                Party or is otherwise prohibited from transferring the information to Recipient by a
                                contractual, legal or fiduciary obligation; or</li>
                            <li>Is independently developed by Recipient without any use of or benefit from the
                                Confidential
                                Information and such independent development can be documented by Recipient with written
                                records.</li>
                            <li>Is required to be disclosed by law or at the request of any governmental body or court
                                of law.
                            </li>
                        </ol>
                        <p class="text-lg"><strong>NON-DISCLOSURE</strong>: In consideration for the receipt of
                            Confidential
                            Information,
                            Recipient shall hold all Confidential Information in strict confidence and shall in no event
                            use
                            less than a reasonable degree of care; and shall not, without the prior written consent of
                            Disclosing Party, disclose such information to any person for any reason at any time;
                            provided,
                            however, it is understood that Recipient may disclose any of the Confidential Information to
                            the
                            authorized representatives of the Recipient who actually need such material for the purpose
                            of
                            evaluating the proposed Transaction on the condition that, prior to such disclosure, such
                            Recipient’s representatives have signed an agreement with non disclosure provisions no less
                            stringent than those set forth herein. The term “person” as used in this letter shall be
                            broadly
                            interpreted to include, without limitation, any corporation, company, partnership or
                            individual.
                            Further, the Recipient shall take all steps as may be reasonably necessary to protect the
                            integrity
                            of the Confidential Information and shall inform the Disclosing Party of any potential
                            disclosure
                            and shall take all steps necessary together with the Disclosing Party to retrieve and
                            protect the
                            Confidential Information.</p>
                        <p class="text-lg">The Recipient agrees that it shall not, except as and to the extent required,
                            make any copies
                            or
                            reproduce the Confidential Information. Such copies or reproductions shall be subject to the
                            terms
                            and conditions of this Agreement and the Recipient shall take such steps as are necessary to
                            restrict access to and protect the confidentiality of such copies or reproductions of the
                            Confidential Information.</p>
                        <p class="text-lg"><strong>USE OF CONFIDENTIAL INFORMATION</strong>: Neither the Recipient nor
                            its officers,
                            employees
                            or subcontractors shall use any Confidential Information for any reason or purpose including
                            its
                            own purpose other than as necessary in regard to the Transaction. Recipient agrees to make
                            no other
                            use of the Confidential Information or to incorporate any Confidential Information into any
                            work or
                            product without the prior written consent of the Disclosing Party. Further, the Recipient
                            agrees
                            that it shall not profit from any Confidential Information received by it from the
                            Disclosing Party
                            in any unauthorized manner whatsoever.</p>
                        <p class="text-lg"><strong>NON-CIRCUMVENTION</strong>: The Recipient agrees that it shall in no
                            event,
                            circumvent,
                            attempt to circumvent, avoid, by-pass or in any manner enter into any business transactions
                            with
                            any third party by making use of any Confidential Information disclosed by the Disclosing
                            Party,
                            other than the Transaction for which the Confidential Information is being disclosed.</p>
                        <p class="text-lg"><strong>OWNERSHIP</strong>: Recipient recognizes that all tangible
                            information relating to
                            Confidential Information, including notes, reports and other documents prepared by Recipient
                            in
                            connection with the evaluation of the proposed Transaction, including all copies thereof,
                            are and
                            shall be the sole property of Disclosing Party, and Recipient shall keep the same at all
                            times in
                            its custody and subject to Recipient’s control. The Recipient does not hereby and shall not
                            acquire
                            by implication or otherwise any right in or title to or license in respect of the
                            Confidential
                            Information disclosed to it by the other Party.</p>
                        <p class="text-lg"><strong>COMPELLED DISCLOSURE</strong>: In the event that Recipient or any of
                            Recipient’s
                            Representatives is requested or required (by oral questions, interrogatories, requests for
                            information or documents, subpoena, civil investigative demand or similar process) to
                            disclose any
                            of the Confidential Information, it is agreed that Recipient or such Recipient’s
                            Representative, as
                            the case may be, will provide Disclosing Party with prompt notice of such request(s) so that
                            Disclosing Party may seek an appropriate protective order or other appropriate remedy and/or
                            waive
                            compliance with the Non Disclosure provisions of this Agreement. In the event that such
                            protective
                            order or other remedy is not obtained, Recipient or such Recipient’s Representative may
                            furnish
                            that portion (and only that portion) of the Confidential Information which Recipient is
                            legally
                            compelled to disclose and will exercise its reasonable best efforts to obtain reliable
                            assurance
                            that confidential treatment will be accorded any Confidential Information so furnished.</p>
                        <p class="text-lg"><strong>RETURN OF CONFIDENTIAL INFORMATION</strong>: Promptly following the
                            earlier of</p>
                        <ol class="text-lg">
                            <li>The termination of this Agreement and</li>
                            <li>The written request of Disclosing Party,</li>
                        </ol>
                        <p class="text-lg">Recipient will deliver to Disclosing Party all documents or other materials
                            furnished by
                            Disclosing
                            Party to Recipient constituting Confidential Information, together with all copies thereof,
                            including computer disks in the possession of Recipient. In the event of such request, all
                            other
                            documents or other materials constituting Confidential Information, together with all copies
                            thereof in the possession of Recipient, will be destroyed with any such destruction
                            confirmed by
                            Recipient in writing to the Disclosing Party.</p>
                        <p class="text-lg"><strong>NO WARRANTIES</strong>: Neither Party makes any representation or
                            warranty as to the
                            accuracy or completeness of the Confidential Information.</p>
                        <p class="text-lg"><strong>NO OBLIGATION</strong>: Neither Party shall make any commitment or
                            incur any expense
                            or
                            charge for or in the name of the other Party. Neither has any obligation by virtue of this
                            Agreement to procure any products or services from the other Party. Neither execution nor
                            performance of this Agreement shall be construed or deemed to have established any joint
                            venture or
                            partnership or have created the relationship of principal and agent between the Parties.</p>
                        <p class="text-lg"><strong>REMEDIES</strong>: Recipient acknowledges that monetary damages would
                            be both
                            incalculable
                            and an insufficient remedy for any breach of this Agreement by Recipient and that any such
                            breach
                            would cause Disclosing Party irreparable harm. Accordingly, Recipient also agrees that, in
                            the
                            event of any breach or threatened breach of this Agreement, Disclosing Party, in addition to
                            any
                            other remedies at law or in equity it may have (none of which remedies shall be mutually
                            exclusive,
                            and all of which remedies may be pursued concurrently and cumulatively), shall be entitled,
                            without
                            the requirement of posting a bond or other security, to equitable relief, including
                            injunctive
                            relief and specific performance. In addition, in such an event, the Party in violation shall
                            reimburse the other Party for all costs and expenses, including reasonable attorneys’ fees,
                            incurred in order to enforce the provisions of this Agreement and/or exercise any remedies
                            for a
                            violation thereof.</p>
                        <p class="text-lg"><strong>TERMINATION</strong>: This Agreement is intended to cover
                            Confidential Information
                            disclosed by each Party both prior and subsequent to the date hereof. This Agreement may be
                            terminated by either Party by giving the other Party no less than thirty (30) days prior
                            written
                            notice; provided, however, that, notwithstanding anything herein to the contrary, each
                            Party’s
                            obligations with respect to each item of the other Party’s Confidential Information will
                            survive
                            for a period of three (3) years following the disclosure of the applicable Confidential
                            Information.</p>
                        <p class="text-lg"><strong>GOVERNING LAW &amp; JURISDICTION</strong>: This Agreement shall be
                            governed by and
                            construed in accordance with the laws of India without giving effect to principles of
                            conflict of
                            laws thereof, regardless of the place of making or performance. The parties subject
                            themselves to
                            the exclusive jurisdiction of the courts at Bangalore, India. Any dispute in respect of all
                            or any
                            of the provisions of this Agreement shall be resolved amicably within 15 days of notifying
                            the same
                            to the other party and in the event neither party reaches an agreement the dispute should be
                            resolved by Arbitration which shall be referred to a Sole Arbitrator in accordance with the
                            provisions of the Arbitration and Conciliation Act 1996. The place of arbitration shall be
                            Bangalore and the language used shall be English</p>
                        <p class="text-lg"><strong>AMENDMENTS</strong>: This Agreement may not be and shall not be
                            deemed or construed
                            to have
                            been modified, amended, rescinded or canceled in whole or in part, except by written
                            instrument
                            signed by the Parties hereto which makes specific reference to this Agreement and which
                            specifies
                            that this Agreement is being modified, amended, rescinded or canceled.</p>
                        <p class="text-lg"><strong>SEVERABILITY</strong>: If any provision of this Agreement shall be
                            declared invalid
                            or
                            illegal for any reason whatsoever, then, notwithstanding such invalidity or illegality, the
                            remaining terms and provisions of this Agreement shall remain in full force and effect in
                            the same
                            manner as if the invalid or illegal provision had not been contained herein.</p>
                        <p class="text-lg"><strong>WAIVERS</strong>: No failure on the part of either Party to exercise,
                            and no delay in
                            exercising, any right or remedy hereunder shall operate as a waiver thereof, nor shall any
                            single
                            or partial exercise of any right or remedy hereunder preclude any other or a future exercise
                            thereof or the exercise of any other right or remedy granted hereby, or by any related
                            document, or
                            by law. Any failure of a Party to comply with any obligation contained in this Agreement may
                            be
                            waived by the Party entitled to the benefit thereof only by a written instrument duly
                            executed and
                            delivered by the Party granting such waiver, which instrument makes specific reference to
                            this
                            Agreement and the provision to which it relates and describes the right or obligation
                            consented to,
                            waived or purported to be violated.</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>