<div class="flex flex-col flex-auto md:w-160 md:min-w-160">
    <form [formGroup]="priceForm">
        <div class="m-4">
            <div>
                <div class="text-center mb-4 py-0.5 px-3 rounded-full text-2xl font-medium text-black-600">
                    Update video promotion price
                </div>
                <mat-form-field style="width: 100%">
                    <mat-label>Please provide updated promotion price for the channel
                    </mat-label>
                    <input matInput [placeholder]="'10000'" [formControlName]="'amount'">
                    <mat-select [value]="currency" [formControlName]="'currency'" matPrefix>
                        <mat-option [value]="'INR'">INR</mat-option>
                        <mat-option [value]="'USD'">USD</mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="priceControl.amount.errors" class="flex error-block">
                    <span *ngIf="priceControl.amount.errors.required">Amount is required</span>
                    <span *ngIf="priceControl.amount.errors.pattern">Invalid amount entered</span>
                </span>
            </div>
        </div>
        <div class="flex items-center justify-end mt-4">
            <!-- Close -->
            <button mat-flat-button matDialogClose class="mr-2">
                Cancel
            </button>
            <!-- Save -->
            <button mat-flat-button [color]="'primary'" (click)="updateChannelPrice();">
                Save
            </button>
        </div>
    </form>
</div>