<div class="m-4">

    <!--Design1:-Free plan. Copy code end here -->
    <div class="cmplivemain mb-4 p-6">
        <div class="flex flex-auto justify-center  mx-auto">
            <div class="lg:flex flex-col col-md-7 p-5 payplancontent-width">
                <h1 class="mb-4">Your campaign is now awaiting approval.</h1>
                <ul>
                    <li>You will have a longer campaign approval queue, which may take upto 24-72 hours. </li>
                    <li>Campaign visibility will remain private so no influencer can see your campaign till you invite them first. </li>
                    <li>You will NOT be able to access or invite Premium influencers.  </li>
                    <li>You can create only 1 campaign at any given time</li>
                </ul>
            </div>
            <div class="lg:flex flex-col col-md-5 p-5 payplancontent-width-right text-right images-right">
                <p class="mb-6">Your Current Plan : <span>  Free </span></p>
                <img src="/assets/images/bg1.png"/>
            </div>
        </div>
        <div class="clearfix text-center ">
            <h3 class="mb-3 colorredtext">Want to remove these restrictions?</h3>
            <button class="mb-2 upgradebtn font-bold">Upgrade</button>
        </div>
    </div>
    <!--Design1:-Free plan. Copy code end here -->

    <!--Design2:-starter plan. Copy code end here -->
    <div class="cmplivemain mb-4 p-6">
        <div class="flex flex-auto justify-center  mx-auto">
            <div class="lg:flex flex-col col-md-7 p-5 payplancontent-width">
                <h1 class="mb-4">Your campaign is now awaiting approval.</h1>
                <ul>
                    <li>You will NOT have auto-approvals of your campaigns.</li>
                    <li>You can create max 2 campaigns at any given time.</li>
                    <li>You will NOT be able to access or invite Premium influencers.</li>
                </ul>
            </div>
            <div class="lg:flex flex-col col-md-5 p-5 payplancontent-width-right text-right images-right">
                <p class="mb-6">Your Current Plan : <span>  Starter </span></p>
                <img src="/assets/images/bg1.png"/>
            </div>
        </div>
        <div class="clearfix text-center ">
            <h3 class="mb-3 colorredtext">Want to remove these restrictions?</h3>
            <button class="mb-2 upgradebtn font-bold">Upgrade</button>
        </div>
    </div>
    <!--Design2:-starter plan. Copy code end here -->

    <!--Design3:-order successfully. Copy code end here -->
    <div class="cmplivemain mb-4 p-11">
        <div class="flex flex-auto justify-center  mx-auto mb-4 text-center ordersuccesfully">
            <h1>Your order is placed successfully.</h1>
        </div>
        <div class="flex flex-auto justify-center  mx-auto mb-4 text-center ordersuccesfully">
            <h2>However, work begins only after influencer_name accepts <span class="ordersuccesfully-redtext">Campaign resource</span> provided by you. </h2>
        </div>
        <div class="flex flex-auto justify-center  mx-auto mb-4 text-center ordersuccesfully">
            <p> Campaign resources are materials and information provided to influencers to promote a campaign, including branded graphics, sample products, promotional codes, instructions, and assets like videos or social media posts.
                They help influencers effectively promote the campaign and align with the brand's goals.</p>
        </div>
        <div class="flex flex-auto justify-center  mx-auto mb-4 text-center ordersuccesfully">
            <h2>Provide the <span class="ordersuccesfully-redtext">Campaign resource</span> in text or upload an attachment of the same.</h2>
        </div>
        <div class="flex flex-auto justify-center  mx-auto mb-4">
            <div class="maincontenarsection grid grid-cols-12 sm:grid-cols-12 gap-x-2 gap-y-2 lg:grid-cols-12 lg:gap-2 w-full">
                <div class="col-span-8 xs:col-span-12 sm:col-span-12 lg:col-span-8 bg-white p-6 ordersuccesfully">
                    <ul>
                        <li>
                            <b>Campaign Goal:</b> Create a unique and compelling integration that drives new subscribers to brandname via your URL and a strong call-to-action.
                        </li>
                        <li>
                            <b>Your URL:</b> https://brand-url.com/influencer_name
                        </li>
                        <li>
                            <b>Special Offer:</b> Huge discount on a 2 year business plan PLUS 4 free additional months.
                        </li>
                        <li>
                            <b>Sample Script:</b> (We encourage you to use your own words but here's a sample script to get started)
                        </li>
                        <li>
                            "Take control of your internet experience today with NordVPN! Right now you can get a 2 year plan at a huge discount plus 4 additional months for free"
                        </li>
                    </ul>
                    
                </div>
                <div class=" text-center col-span-1 xs:col-span-12 sm:col-span-12 lg:col-span-1 flex flex-col items-center justify-center"  style="font-size: 19px;font-weight: 700;">
                    or
                </div>
                <div class="font-bold col-span-3 xs:col-span-12 sm:col-span-12 lg:col-span-3 flex flex-col items-center justify-center font-2xl">
                    <div class="">
                        <input type="file" id="template_scripts" placeholder="Script file" accept=".pdf,.doc,.docx" class="hidden">
                        <label for="template_scripts" class="mat-tooltip-trigger cursor-pointer font-bold py-3 px-2 ml-4 bg-gray-200 uploadfilebtn text-center">
                        Choose File
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-auto justify-center  mx-auto">
            <button  class="infl-review-btn" mat-flat-button >Submit</button> 
        </div>
    </div>
    <!--Design3:-order successfully. Copy code end here -->

    <!--Design4:-Campaign live. Copy code end here -->
    <div class="cmplivemain mb-4 p-11">
        <div class="flex flex-auto justify-center  mx-auto mb-4 text-center campaignlive">
            <h1>Your campaign is now live and open to influencers for submitting proposals.</h1>
        </div>
        <div class="flex flex-auto justify-center  mx-auto mb-8 text-center campaignlive">
            <img src="/assets/images/bg_camp.png" />
        </div>
        <div class="flex flex-auto justify-center  mx-auto mb-4 text-center campaignlive">
            <h2>You should now start inviting influencers to maximise your responses.</h2>
        </div>
        <div class="flex flex-auto justify-center  mx-auto">
            <button  class="camp-live-btn" mat-flat-button >View Recommendations</button> 
        </div>
    </div>
    <!--Design4:-Campaign live. Copy code end here -->

    <!--Design5:-reveal and invite inful. Copy code end here -->
    <div class="reveal-invite bg-white shadow mb-4 p-11">
        <div class="flex flex-auto justify-center  mx-auto mb-4 text-center campaignlive">
            <h1>Reveal And Invite influencer</h1>
        </div>
        <div class="flex flex-auto justify-center  mx-auto">
            <form>
                <div class="col-md-9 p-3 payplancontent-width">
                    <div class="pb-2">
                        <p  class="font-bold">Choose your list </p>
                    </div>
                    <div class="flex flex-auto justify-center  mx-auto mb-4">
                        <div class="lg:flex flex-col col-md-5 p-0">
                            <select class="select-reveal-invite">
                                <option>Choose your list</option>
                            </select>
                        </div>
                        <div class="lg:flex flex-col col-md-2 p-0 text-center items-center justify-center">or</div>
                        <div class="lg:flex flex-col col-md-5  p-0 ">
                            <input class="input-reveal-invite" value=""  />
                        </div>
                    </div>
    
                    <div class="mb-2">
                        <p  class="font-bold">How many results you want to add to this list?</p>
                    </div>
                    <div class="flex flex-auto justify-center  mx-auto mb-4">
                        <div class="lg:flex flex-col col-md-4  p-0 hoverdiv">
                            <input type="radio" name="result"  class="radiobtnselectinput"/>
                            <div class="radiobtnselect radiobtnselectactive">Top 50 Results</div>
                        </div>
                        <div class="lg:flex flex-col col-md-4  p-0 hoverdiv">
                            <input type="radio" name="result" class="radiobtnselectinput"/>
                            <div class="radiobtnselect">Top 500 Results</div>
                        </div>
                        <div class="lg:flex flex-col col-md-4  p-0 hoverdiv">
                            <input type="radio" name="result"  class="radiobtnselectinput"/>
                            <div class="radiobtnselect">Top 1500 Results</div>
                        </div>
                    </div>
    
                    <div class="flex flex-auto mx-auto mb-2">
                        <div class="col-md-12  p-0">
                            <input type="checkbox" name="" /> Revealed profiles only
                        </div>
                    </div>
    
                    <div class="flex flex-auto mx-auto mb-4">
                        <div class="col-md-12  p-0">
                            <input type="checkbox" name="" /> Profiles that aren't revealed yet Credits available
                        </div>
                    </div>
    
                    <div class="mx-auto mb-4">
                        <div class="radiobtnselect-text text-center">INVITE: Send bulk campaign invites to entire ist in one go [Optional]</div>
                    </div>
    
                    <div class="mx-auto pb-2">
                        <p class="font-bold">Choose your list </p>
                    </div>
                    <div class="flex flex-auto justify-center  mx-auto mb-4">
                        <div class="lg:flex flex-col col-md-5 p-0">
                            <select class="select-reveal-invite">
                                <option>Choose your list</option>
                            </select>
                        </div>
                        <div class="col-md-7 items-center justify-center">
                            <input type="checkbox" name="" class="pr-1"/>  Invite the above list to selected campaign
                        </div>
                    </div>
                    
                </div>
                <div class="lg:flex flex-col col-md-3 p-5 items-center justify-center pull-right">
                    <div class="profletoadded-sec shadow mb-4 ">
                        <p>Profile to add</p>
                        <b class="boldfontsize">50</b>
                    </div>
    
                    <div class="profletoadded-sec shadow mb-4">
                        <p>Credits required</p>
                        <b class="boldfontsize">1876</b>
                    </div>
    
                    <div class="profletoadded-sec shadow mb-4">
                        <p>Credits available</p>
                        <b class="boldfontsize">69770</b>
                    </div>
                </div>

                <div class="col-md-12  items-center justify-center text-center">
                    <button class="reveal-proceed-btn">Proceed</button>
                </div>
            </form>
        </div>
    </div>
    <!--Design5:-reveal and invite inful. Copy code end here -->

</div>
